

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  max-height: 4rem;
  background-color: red;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  z-index: 10;
}

nav a {
  margin: 1rem;
}

nav img {
  max-width: 30px;
  max-height: 30px;
}

#navbar-icons {
}

#navbar-spacing {
  flex-grow: 0.95;
}

#navbar-text {
  display: flex;
}

#navbar-text a {
  /*height: 100%;*/
  border: 1px solid grey;
}
