

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  max-height: 40px;
  background-color: red;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#navbar-icons {
}

#navbar-spacing {
/*  width: 100%;*/
  /* better to use flex-grow here than width */
  flex-grow: 0.95;
}

/* TODO: Need to find a way to stop them going to a new line */
#navbar-text {
  margin-right: 10px;
}

#navbar a {
}

#navbar img {
  max-width: 30px;
  max-height: 30px;
}
